{erl_opts, [debug_info]}.
{deps, [
       {elli,{git,"git://github.com/elli-lib/elli.git",{branch,"main"}}},
       {uuid,{git,"git://github.com/okeuday/uuid.git"}},
       {jsx,{git,"git://github.com/talentdeficit/jsx.git",{branch,"main"}}}
       ]}.

{plugins,[
        {provider_asn1,"0.2.3"}
        ]}.

{provider_hooks,[{pre,[{compile,{asn,compile}}]},
                 {post,[{clean,{asn,clean}}]}]}.

{cover_enabled,true}.

{xref_checks,[
        {warnings,true},
        undefined_function_calls,
        undefined_functions,
        locals_not_used,
        deprecated_function_calls,
        deprecated_functions
        %% exports_not_used
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [hsmxs]}
]}.
